# ===================== #
# Python                #
# ===================== #
__pycache__/
*.py[cod]
*$py.class

# Віртуальне оточення
venv/
env/
ENV/
.venv/

# Кеш/логи
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db
*.sqlite

# ===================== #
# Django                #
# ===================== #
media/
staticfiles/
static_root/
*.mo

# Файли міграцій (опціонально — краще тримати в репо)
# */migrations/*.py
# !*/migrations/__init__.py

# ===================== #
# PyCharm / JetBrains    #
# ===================== #
.idea/
*.iml

# віртуальне оточення #
.env

# ===================== #
# Системні файли Linux   #
# ===================== #
*~
*.swp
*.swo
.DS_Store
Thumbs.db
